<p id="notice"><%= notice %></p>

<!-- <p>
  <strong>Sub:</strong>
  <%= @post.sub %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @post.desc %>
</p>

<%#= link_to 'Edit', edit_post_path(@post) %> |
<%#= link_to 'Back', posts_path %> -->


<div class="panel panel-<%= getColorOfPanel(@post.id) %>">
	<div class="panel-heading">
		<h3 class="panel-title">
			<img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e9/Ruby_on_Rails.svg/791px-Ruby_on_Rails.svg.png" alt=<%= @post.sub %> width="50px" class="media-left"><%= @post.sub %></h3>
		</div>
		<div class="panel-body">
			<%= @post.desc %>
		</div>
	</div>
	<p>
		<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-info", role: "button" %>
		<%= link_to 'Back', posts_path,class: "btn btn-default", role: "button" %>
	</p>
